@import '../../constants.scss';

.newslist {
  margin: 0;
  padding: 0;
  list-style: none;

  &-header {
    height: $header-height;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    padding: 0 20px;
    background-color: $secondary-background-color;
    color: #fff;
  }
  
  &-title {
    text-align: center;
    margin: 0;
  }
  
  /**
   * 1. offset sticky header's height
   */
  &-body {
    width: 90%;
    margin: $header-height auto 0 auto; // 1
  }

  &-offline {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: $alert-color;
    z-index: 1;
  }
}


