@import '../../constants.scss';

.newslistitem {
  padding: 8px;
  border-bottom: 1px solid $border-color;

  &-title {
    color: $primary-color;
    text-decoration: none;
    cursor: pointer;

    &--visited,
    &:visited {
      color: $secondary-color;
    }
  }

  &-details {
    margin: 0;
    color: $secondary-color;
    font-size: $font-size-xs;
  }

  &-body {
    padding-top: 20px;
    font-size: $font-size-sm;
  }

  &-hostname {
    padding-left: 10px;
    color: $secondary-color;
    font-size: $font-size-xs;
  }
}
