// fonts
$font-stack: 'Open Sans', sans-serif;
$font-size-sm: 0.9em;
$font-size-xs: 0.8em;

// colors
$background-color: #fafafa;
$secondary-background-color: #3d3d3d;
$primary-color: #000;
$secondary-color: #8a8a8a;
$border-color: #ddd;
$alert-color: #ff5962;

// sizing
$header-height: 50px;